@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/*
fonts
font-family: "Open Sans", sans-serif;
font-family: "Roboto", sans-serif;
*/

/* main section */
section {
  width: 100vw;
  margin-top: 10px;
}
.grid-project h1 {
  text-align: center;
  animation: dropAndRotate 2s forwards;
  transform: rotate(-90deg);
}

/* project container */
.project-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* projects */
.grid-project {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 425px;
  width: 50px;
  border: 1px solid;
  font-weight: bold;
  writing-mode: vertical-lr;
  background-size: cover;
  font-size: 1.3rem;
  background-position: right;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.grid-project a {
  text-decoration: none;
  color: black;
}
.project-one {
  background-image: url(../images/project-one.png);
  animation: up-one 0.5s ease-in-out;
}
.project-two {
  background-image: url(../images/project-two.png);
  animation: up-one 0.6s ease-in-out;
}
.project-three {
  background-image: url(../images/project-three.png);
  animation: up-one 0.7s ease-in-out;
}
.project-four {
  background-image: url(../images/project-four.png);
  animation: up-one 0.8s ease-in-out;
}


/* hovers */
.project:hover {
  width: 750px;
  z-index: 10;
  background-position: center;
  color: rgba(0, 0, 0, 0);
}


/* media queries */
@media screen and (max-width: 500px) {
  .project-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
  }
  .grid-project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .grid-project h1 {
    display: none;
  }
  .project {
    height: 125px;
    width: 125px;
    text-align: center;
    transform: rotate(-90deg);
    background-size: 2000%;
    transition: none;
  }
  .grid-project a div {
    font-size: 1rem;
  }
}


/* animations */
@keyframes up-one {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes dropAndRotate {
  0% {
      transform: translateY(-100px) rotate(0deg);
      opacity: 0;
  }
  50% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
  }
  100% {
      transform: translateY(0) rotate(90deg);
  }
}